{{define "title"}}Categories{{end}}

{{define "content"}}
<h1 class="text-2xl font-bold mb-4">Categories</h1>

   {{if .Error}}
        <p class="text-red-600 text-sm">{{.Error}}</p>
      {{end}}

<table class="w-full border text-sm">
  <thead>
    <tr>
      <th class="border p-2">ID</th>
      <th class="border p-2">Category Name</th>
      <th class="border p-2">Created At</th>
    </tr>
  </thead>

  <tbody>
    {{range .Categories}}
      <tr>
        <td class="border p-2">{{.ID}}</td>
        <td class="border p-2">{{.Name}}</td>
        <td class="border p-2">
          {{.CreatedAt.Format "02 Jan 2006"}}
        </td>
      </tr>
    {{else}}
      <tr>
        <td colspan="3" class="border p-4 text-center">
          No categories found
        </td>
      </tr>
    {{end}}
  </tbody>
</table>
{{end}}
